.col-sm-8.col-sm-offset-2.pt-30
  %h2= "Send message to #{@receiver.profile.username}"
  = form_for @message, url: messages_path, method: "POST" do |f|
    = hidden_field_tag "message[sender_id]", current_user.id
    = hidden_field_tag "message[receiver_id]", @receiver.id
    = f.text_area :body, placeholder: "Message", class: "form-control"
    = f.submit "Send Message", class: "form-control btn btn-info", id: "send_message"