.review-container.profile-info-wrapper
  .col-sm-3
    - binding.pry
    = image_tag review.reviewer.profile.image_url || "profile_placeholder", class: "reviewer-profile"
  .review-body.col-sm-9
    %h3= review.title
    - review.rating.times do
      = image_tag "star-rating-yes", class: "review-stars"
    - (5 - review.rating).times do
      = image_tag "star-rating-no", class: "review-stars"
    %p= review.body
  .clearfix